/***********************************
        DESKTOP STYLES
***********************************/
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: calc(80px + var(--space-m)) var(--space-m);
    overflow: hidden;
}

.hero .title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    letter-spacing: 40px;
    font-size: var(--step-6);
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    transition: opacity 1.5s ease;
    transition-delay: 1.5s;
    z-index: 1;
}

.hero.scrolled .title {
    animation: moveToCorner 1.5s ease forwards;
}

.hero .scroll {
    position: absolute;
    bottom: var(--space-3xl);
    display: flex;
    flex-direction: column;
    row-gap: var(--space-2xs);
    align-items: center;
    font-size: var(--step-0);
    letter-spacing: 4px;
    opacity: 1;
    transition: .5s;
    animation: scrollFloat 4s ease-in-out infinite;
}

.hero.scrolled .scroll {
    align-self: center;
    justify-self: center;
    opacity: 0;
}


/***********************************
        MOBILE STYLES
***********************************/
.hero-mobile {
    position: relative;
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    align-items: center;
    /* justify-content: center; */
    box-sizing: border-box;
    padding: var(--space-m); 
    overflow: auto;
}

.hero-mobile .content {
    margin-top: calc(80px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    animation: fadeIn 1.5s ease-in-out forwards;
}


/***********************************
        ANIMATIONS
***********************************/
@keyframes moveToCorner {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(calc(-50vw + var(--space-m)), calc(-50vh + 80px + var(--space-m)));
        font-size: var(--step-3);
        letter-spacing: -2px;
    }
}

@keyframes scrollFloat {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0%);
    }
}


/***********************************
        MEDIA QUERIES
***********************************/
@media screen and (max-width: 1440px)  {
    .hero .title {
        font-size: var(--step-5);
    }
}

@media screen and (max-width: 1000px) {
    .hero {
        display: none;
    }

    .hero-mobile {
        display: flex;
    }
}

